.page-header {
	margin-top: 10px;
	border-color: $GRY_LT1;

	.h1 {
		color: $BLU3;
		font-size: 32px;
		margin-top: 0;
		margin-bottom: 20px;
		font-weight: semibold;
		margin-left: 0px;

		@media (min-width: $screen-sm-min) {
			margin-left: 20px;
		}
	}

	.h5 {
		color: $GRY3;
		font-size: 15px;
		margin-bottom: 10px;
		margin-left: 25px;
		margin-right: 25px;
	}
}

.data-collection-option {
	margin-bottom: 20px;
}

.data-collection-option-header {
	margin-top: 10px;
	margin-bottom: 15px;
	font-size: 18px;
	font-weight: regular;
	color: $GRY3;
}

.data-collection-option-label {
	margin-left: 5px;
	text-transform: uppercase;
	font-weight: bold;
}

.data-collection-option-subtext {
	font-size: 15px;
	color: $GRY3;
	font-weight: regular;
}

.data-collection-radio .radio-toggle {
	height: 24px;
	width: 24px;
	margin-left: 15px;

	@media (min-width: $screen-sm-min) {
		margin-left: 0;
	}
}