.equipment-status-widget {
	width: 100%;

	.connection-row {
		.connection {
			// connection indicator
			height: 20px;
			background-repeat: no-repeat;
			background-size: contain;

			&.connected {
				width: 28px;
				background-image: url("/images/icons/myEquipment/icon_connected.svg");
			}

			&.not-connected {
				width: 30px;
				background-image: url("/images/icons/myEquipment/icon_no_connection.svg");
			}
		}
	}

	.settings-row {
		height: 24px;
		margin-top: 15px;
		margin-bottom: 20px;

		.setting-icon {
			height: 32px;
			width: 32px;
			margin-left: 27px;
			background: no-repeat center;
			background-size: 24px 24px;

			&:first-of-type {
				margin-right: 10px;
			}
		}

		.pin-icon {
			background-image: url("/images/icons/myEquipment/icon_pin_blue_filled.svg");
		}

		.unpin-icon {
			background-image: url("/images/icons/myEquipment/icon_unpin_blue.svg");
		}

		.warning-icon {
			background-image: url("/images/icons/myEquipment/icon_alert_triangle_red.svg");
			margin-left: 10px;
		}

		.settings-icon {
			background-image: url("/images/icons/myEquipment/icon_settings_blue.svg");
		}

		.identify-icon {
			background-image: url("/images/icons/myEquipment/icon_magnify_inactive.svg");

			&.active {
				background-image: url("/images/icons/myEquipment/icon_magnify_active.svg");
			}
		}
        
        .window-sensor-icon {
			background-image: url("/images/icons/myEquipment/icon_window_open_mini.svg");
		}
	}
}

.status-widget-generic {
	position: relative;

	.equipment-icon {
		width: 93px;
		height: 71px;
		margin-top: 41px;
		margin-bottom: 32px;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;

		@media (min-width: $screen-sm-min) {
			width: 122px;
			height: 92px;
			margin-top: 62px;
			margin-bottom: 62px;
		}
	}
}

// monitoring devices
.status-widget-monitoring {
	position: relative;
	font-size: 16px;
	color: $GRY2;
    
    .equipment-icon {
        margin-top: 44px;
		margin-bottom: 34px;
		width: 132px;
		height: 121px;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
        
		&.window-monitor {
			&.noopen {
                background-image: url("/images/icons/myEquipment/icon_window.svg");
			}

			&.open {
				background-image: url("/images/icons/myEquipment/icon_window_open.svg");
			}
		}
        &.door-monitor {
			&.noopen {
                background-image: url("/images/icons/myEquipment/icon_door.svg");
			}

			&.open {
				background-image: url("/images/icons/myEquipment/icon_door_open.svg");
			}
		}
        
	}
    

	.battery-row {
		height: 16px;
		margin-bottom: 30px;

		.battery-text {
			font-size: 16px;
			color: $GRY_LT4;
			margin-top: -3px;
			margin-left: 40px;

			@media (min-width: $screen-sm-min) {
				margin-left: 64px;
			}
		}

		.battery-icon {
			width: 34px;
			height: 16px;
			margin-right: 64px;
			background: no-repeat center;
			background-size: contain;

			&.full {
				background-image: url("/images/icons/myEquipment/icon_battery_full.svg");
			}

			&.half {
				background-image: url("/images/icons/myEquipment/icon_battery_half.svg");
			}

			&.low {
				background-image: url("/images/icons/myEquipment/icon_battery_low.svg");
			}

			&.critical {
				background-image: url("/images/icons/myEquipment/icon_battery_critical.svg");
			}
		}
    }

	#battery-monitor-separator {
		border-top: 1px solid $GRY2;
		margin-left: 34px;
		margin-right: 34px;
	}

	.monitoring-row {
		height: 32px;
		margin-top: 30px;
		margin-right: 34px;
		margin-left: 34px;

		.monitoring-icon {
			width: 32px;
			height: 32px;
			background: url("/images/icons/icon_check_green.svg") no-repeat center;
			background-size: contain;

			&.not-monitoring {
				// todo: placeholder image
				background-image: url("/images/icon/icon_alert_red.svg");
			}
		}

		.monitoring-text {
			margin-top: 6px;
		}
	}
}

// with switcher
.status-widget-switcher {
	position: relative;
	margin-top: 20px;
	margin-bottom: 25px;

	@media (min-width: $screen-sm-min) {
		margin-top: 84px;
		margin-bottom: 49px;
	}

	.equipment-icon {
		background: no-repeat center;
		background-size: contain;
		width: 74px;
		height: 74px;
		margin-left: 16px;

		// tablet styling is funky
		@media (min-width: $screen-sm-min) {
			width: 28%;
			margin-left: 5%;
		}

		@media (min-width: $screen-lg-min) {
			width: 86px;
			height: 86px;
			margin-left: 24px;
		}

		&.smart-plug {
			&.off {
				background-image: url("/images/icons/myEquipment/icon_smart_plug_off_grey.svg");
			}

			&.on {
				background-image: url("/images/icons/myEquipment/icon_smart_plug_on_orange.svg");
			}
		}
	}
	
	.water-heater {
		&.off {
			background-image: url("/images/icons/myEquipment/icon_water_heater_off_grey.svg");
		}

		&.on {
			background-image: url("/images/icons/myEquipment/icon_water_heater_on_orange.svg");
		}
	}

	.status-switcher {
		width: 122px;
		height: 55px;
		margin-top: 10px;
		margin-right: 16px;
		background: no-repeat center;
		background-size: contain;

		@media (min-width: $screen-sm-min) {
			width: 42%;
			margin-right: 5%;
		}

		@media (min-width: $screen-lg-min) {
			width: 148px;
			height: 65px;
			margin-top: 10px;
			margin-right: 24px;
		}

		// 2 way
		&.on-off {
			background-image: url("/images/icons/dashboard/switch_2_off.svg");

			&.on {
				background-image: url("/images/icons/dashboard/switch_2_on.svg");
			}
		}

		// 3 way switcher
		&.on-off-auto {
			&.on {
				background-image: url("/images/icons/dashboard/switch_3_on.svg");
			}

			&.off {
				background-image: url("/images/icons/dashboard/switch_3_off.svg");
			}

			&.auto {
				background-image: url("/images/icons/dashboard/switch_3_auto.svg");
			}
		}
	}
    
    .hotwater-lock-row {

		height: 30px;
        margin-top: 100px;



		@media (min-width: $screen-sm-min) {

			height: 22px;

		}



		.hotwater-lock-text {

			margin-top: 3px;

			margin-left: 10px;

			font-size: 14px;

			color: $BLU_LT2;



			@media (min-width: $screen-sm-min) {

				margin-left: 10px;

				font-size: 14px;

			}



			@media (min-width: $screen-md-min) {

				margin-left: 20px;

				font-size: 16px;

			}

		}



		.hotwater-lock-icon {

			width: 18px;

			height: 18px;

			margin-right: 10px;

			background: no-repeat center;

			background-size: contain;



			&.lock {

				background-image: url("/images/icons/myEquipment/icon_lock.svg");

			}



			&.unlock {

				background-image: url("/images/icons/myEquipment/icon_unlock.svg");

			}



			@media (min-width: $screen-sm-min) {

				width: 18px;

				height: 18px;

			}



			@media (min-width: $screen-md-min) {

				width: 22px;

				height: 22px;

			}

		}

    }
}

// house monitor
.status-widget-energy-meter {
	position: relative;

	.equipment-icon {
		margin-top: 44px;
		margin-bottom: 34px;
		width: 132px;
		height: 121px;
		background-image: url("/images/icons/myEquipment/icon_energy_monitor_grey.svg");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
	}

	.battery-row {
		height: 16px;
		margin-bottom: 30px;

		.battery-text {
			font-size: 16px;
			color: $GRY_LT4;
			margin-top: -3px;
			margin-left: 40px;

			@media (min-width: $screen-sm-min) {
				margin-left: 64px;
			}
		}

		.battery-icon {
			width: 34px;
			height: 16px;
			margin-right: 64px;
			background: no-repeat center;
			background-size: contain;

			&.full {
				background-image: url("/images/icons/myEquipment/icon_battery_full.svg");
			}

			&.half {
				background-image: url("/images/icons/myEquipment/icon_battery_half.svg");
			}

			&.low {
				background-image: url("/images/icons/myEquipment/icon_battery_low.svg");
			}

			&.critical {
				background-image: url("/images/icons/myEquipment/icon_battery_critical.svg");
			}
		}
	}
}

$ARC-WIDTH-HEIGHT-XS: 192px;
$ARC-WIDTH-HEIGHT-SM: 170px;
$ARC-WIDTH-HEIGHT-MD: 215px;
$ARC-WIDTH-HEIGHT-LG: 244px;

// thermostat
.status-widget-thermostat {
	.arc-group {
		width: $ARC-WIDTH-HEIGHT-XS !important;
		height: $ARC-WIDTH-HEIGHT-XS !important;
		margin-top: 32px;
		margin-left: 18px;
		position: relative; /* For positioning the child element arc-output */
		float: left;

		@media (min-width: $screen-xs-min) {
			width: $ARC-WIDTH-HEIGHT-XS !important;
			height: $ARC-WIDTH-HEIGHT-XS !important;
		}

		@media (min-width: $screen-sm-min) {
			width: $ARC-WIDTH-HEIGHT-SM !important;
			height: $ARC-WIDTH-HEIGHT-SM !important;
			margin-left: 0px;
		}

		@media (min-width: $screen-md-min) {
			width: $ARC-WIDTH-HEIGHT-MD !important;
			height: $ARC-WIDTH-HEIGHT-MD !important;
			margin-left: 9px;
		}

		@media (min-width: $screen-lg-min) {
			width: $ARC-WIDTH-HEIGHT-LG !important;
			height: $ARC-WIDTH-HEIGHT-LG !important;
			margin-left: 18px;
		}

		.tstat-arc {
			width: $ARC-WIDTH-HEIGHT-XS !important;
			height: $ARC-WIDTH-HEIGHT-XS !important;

			@media (min-width: $screen-xs-min) {
				width: $ARC-WIDTH-HEIGHT-XS !important;
				height: $ARC-WIDTH-HEIGHT-XS !important;
			}

			@media (min-width: $screen-sm-min) {
				width: $ARC-WIDTH-HEIGHT-SM !important;
				height: $ARC-WIDTH-HEIGHT-SM !important;
			}

			@media (min-width: $screen-md-min) {
				width: $ARC-WIDTH-HEIGHT-MD !important;
				height: $ARC-WIDTH-HEIGHT-MD !important;
			}

			@media (min-width: $screen-lg-min) {
				width: $ARC-WIDTH-HEIGHT-LG !important;
				height: $ARC-WIDTH-HEIGHT-LG !important;
			}

			.rs-container {
				@include center-vertical-horizontal-absolute();
				width: $ARC-WIDTH-HEIGHT-XS !important;
				height: $ARC-WIDTH-HEIGHT-XS !important;

				@media (min-width: $screen-xs-min) {
					width: $ARC-WIDTH-HEIGHT-XS !important;
					height: $ARC-WIDTH-HEIGHT-XS !important;
				}

				@media (min-width: $screen-sm-min) {
					width: $ARC-WIDTH-HEIGHT-SM !important;
					height: $ARC-WIDTH-HEIGHT-SM !important;
				}

				@media (min-width: $screen-md-min) {
					width: $ARC-WIDTH-HEIGHT-MD !important;
					height: $ARC-WIDTH-HEIGHT-MD !important;
				}

				@media (min-width: $screen-lg-min) {
					width: $ARC-WIDTH-HEIGHT-LG !important;
					height: $ARC-WIDTH-HEIGHT-LG !important;
				}
			}
			
			.rs-readonly {
				z-index: 1;
			}

			.rs-outer .rs-block {
				background-image: url("/images/rainbow_graident_original_size.png");
				background-size: cover;
			}

			.rs-inner {
				background: $WHT0;
				@include dropshadow(0px, 4px, 4px, 0px, $COLOR-SHADOW, false);
			}

			.rs-path-color, .rs-range-color {
				background-color: transparent;
			}

			.rs-seperator {
				border: none;
			}

			.rs-handle {
				@include dropshadow(0px, 0px, 7px, 0px, $COLOR-SHADOW, false);
				background: $GRY_LT2;
				cursor: pointer;
			}

			.rs-border {
				border-color: transparent;
			}

			.rs-overlay {
				background: $WHT0;
			}
		}

		.arc-output {
			@include center-vertical-horizontal-absolute();
			width: 103px;
			height: 103px;

			.arc-set-point-temp {
				font-size: 40px;
				line-height: 58px;
				font-weight: lighter;
				color: $BLU9;
				text-align: right;
				height: 50%;
				transition: font 0.3s ease;

				&.updating {
					font-size: 50px;
					line-height: 50px;
				}
			}

			.arc-current-temp {
				border-top: 2px solid $BLU9;
				font-size: 21px;
				font-weight: lighter;
				color: $BLU9;
				text-align: right;
			}

			/* Adding the degrees symbol to each temperature value */
			.arc-set-point-temp, .arc-current-temp {
				&:after {
					content: "\00b0"
				}
			}
		}

		.hold-status{
			@include center-vertical-horizontal-absolute();
			top: 25% !important;
		 	color: $BLU_LT2;
		}
	}

	.mode-menu {
		position: absolute;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		left: 28px;
		width: $ARC-WIDTH-HEIGHT-XS;
		height: auto;
		z-index: 101;

		@media (min-width: $screen-sm-min) {
			width: $ARC-WIDTH-HEIGHT-SM;
		}

		$ROW-HEIGHT: 44px;

		.mode-item-row {
			@include salus-clearfix();
			border-bottom: 1px solid $WHT0;

			&:last-child {
				border-bottom: none;
			}
		}

		.mode-icon-wrapper {
			width: $ROW-HEIGHT;
			height: $ROW-HEIGHT;
			float: left;
			position: relative;
		}

		.mode-icon {
			@include center-vertical-horizontal-absolute();
			width: 22px;
			height: 22px;
		}

		.mode-title {
			position: relative;
			text-align: center;
			height: 44px;
			margin-left: -5px;
		}

		.temp-mode-menu-sizing {
			height: 230px;
			padding: 70px 5px;
			color: $WHT0;
		}
	}

$ARC-CONTROL-WIDTH-HEIGHT-SM: 30px;
$ARC-CONTROL-WIDTH-HEIGHT-MD: 34px;
$ARC-CONTROL-WIDTH-HEIGHT-LG: 38px;

	.tstat-control-group {
		float: right;
		position: relative;
		width: 32px;
		height: 192px;
		margin-top: 32px;
		margin-right: 13px;
		margin-left: 14px;

		@media (min-width: $screen-sm-min) {
			width: $ARC-CONTROL-WIDTH-HEIGHT-SM;
			height: $ARC-WIDTH-HEIGHT-SM;
			margin-left: 0;
			margin-right: 0;
		}

		@media (min-width: $screen-md-min) {
			width: $ARC-CONTROL-WIDTH-HEIGHT-MD;
			height: $ARC-WIDTH-HEIGHT-MD;
			margin-right: 8px;
			margin-left: 10px;
		}

		@media (min-width: $screen-lg-min) {
			width: $ARC-CONTROL-WIDTH-HEIGHT-LG;
			height: $ARC-WIDTH-HEIGHT-LG;
			margin-right: 18px;
			margin-left: 20px;
		}

		.center-controls {
			@include center-vertical-horizontal-absolute();
			width: 32px;
			height: 102px;

			@media (min-width: $screen-sm-min) {
				width: $ARC-CONTROL-WIDTH-HEIGHT-SM;
				height: 122px;
			}

			@media (min-width: $screen-md-min) {
				width: $ARC-CONTROL-WIDTH-HEIGHT-MD;
			}

			@media (min-width: $screen-lg-min) {
				width: $ARC-CONTROL-WIDTH-HEIGHT-LG;
			}

			.tstat-control-icon {
				width: 32px;
				height: 32px;
				margin-bottom: 32px;

				@media (min-width: $screen-sm-min) {
					width: $ARC-CONTROL-WIDTH-HEIGHT-SM;
					height: $ARC-CONTROL-WIDTH-HEIGHT-SM;
				}

				@media (min-width: $screen-md-min) {
					width: $ARC-CONTROL-WIDTH-HEIGHT-MD;
					height: $ARC-CONTROL-WIDTH-HEIGHT-MD;
				}

				@media (min-width: $screen-lg-min) {
					width: $ARC-CONTROL-WIDTH-HEIGHT-LG;
					height: $ARC-CONTROL-WIDTH-HEIGHT-LG;
				}

				&.power-icon {
					background: url("/images/icons/myEquipment/icon_power_grey.svg") no-repeat;
					background-size: contain;
				}

				&.auto-icon {
					background: url("/images/icons/myEquipment/icon_power_grey.svg") no-repeat;
					background-size: contain;
				}

				&.heating-icon-on {
					background: url("/images/icons/myEquipment/icon_heater_on_orange.svg") no-repeat;
					background-size: contain;
				}

				&.heating-icon-off {
					background: url("/images/icons/myEquipment/icon_heater_off_grey.svg") no-repeat;
					background-size: contain;
				}

				&.cooling-icon-on {
					background: url("/images/icons/myEquipment/icon_air_conditioning_snowflake_on_blue.svg") no-repeat;
					background-size: contain;
				}

				&.cooling-icon-off {
					background: url("/images/icons/myEquipment/icon_air_conditioning_snowflake_off_grey.svg") no-repeat;
					background-size: contain;
				}

				&.fan-on {
					background: url("/images/icons/myEquipment/icon_fan_grey.svg") no-repeat;
					background-size: contain;
					// Saving this for when we demo a spinning fan icon
					//		-webkit-animation: spin 1300ms infinite linear;
					//		animation: spin 1300ms infinite linear;
				}

				&.fan-auto {
					background: url("/images/icons/myEquipment/icon_fan_auto_grey.svg") no-repeat;
					background-size: contain;
					// Saving this for when we demo a spinning fan icon
					//		-webkit-animation: spin 1300ms infinite linear;
					//		animation: spin 1300ms infinite linear;
				}

				&.hold-permanent-icon {
					background: url("/images/icons/myEquipment/icon_permanent_hold.svg") no-repeat;
					background-size: contain;
				}

				&.hold-auto-icon {
					background: url("/images/icons/myEquipment/icon_follow_schedule.svg") no-repeat;
					background-size: contain;
				}

				&.hold-temporary-icon {
					background: url("/images/icons/myEquipment/icon_temporary_hold.svg") no-repeat;
					background-size: contain;
				}

				// Saving this for when we demo a spinning fan icon
				//	@-webkit-keyframes spin {
				//		0% {
				//			-webkit-transform: rotate(0deg);
				//			transform: rotate(0deg);
				//		}
				//
				//		100% {
				//			-webkit-transform: rotate(359deg);
				//			transform: rotate(359deg);
				//		}
				//	}
				//	@keyframes spin {
				//		0% {
				//			-webkit-transform: rotate(0deg);
				//			transform: rotate(0deg);
				//		}
				//
				//		100% {
				//			-webkit-transform: rotate(359deg);
				//			transform: rotate(359deg);
				//		}
				//	}
			}
		}
	}

	.thermostat-lock-row {
		height: 18px;

		@media (min-width: $screen-sm-min) {
			height: 22px;
		}

		.thermostat-lock-text {
			margin-top: 3px;
			margin-left: 10px;
			font-size: 14px;
			color: $BLU_LT2;

			@media (min-width: $screen-sm-min) {
				margin-left: 10px;
				font-size: 14px;
			}

			@media (min-width: $screen-md-min) {
				margin-left: 20px;
				font-size: 16px;
			}
		}

		.thermostat-lock-icon {
			width: 18px;
			height: 18px;
			margin-right: 10px;
			background: no-repeat center;
			background-size: contain;

			&.lock {
				background-image: url("/images/icons/myEquipment/icon_lock.svg");
			}

			&.unlock {
				background-image: url("/images/icons/myEquipment/icon_unlock.svg");
			}

			@media (min-width: $screen-sm-min) {
				width: 18px;
				height: 18px;
			}

			@media (min-width: $screen-md-min) {
				width: 22px;
				height: 22px;
			}
		}
	}
}

// events, group table
.equip-status-table {
	min-height: 1px;
	margin-bottom: 26px;
	margin-top: 25px;

	@media (min-width: $screen-sm-min) {
		margin-top: 35px;
	}

	.event-row {
		height: 44px;
		font-size: 15px;
		padding-top: 12px;
		font-weight: 200;
		margin-left: 3px;
		margin-right: 3px;
		// todo: color is not defined

		&:nth-child(odd) {
			background-color: rgba(206, 216, 226, 0.2);
		}

		&:nth-child(even) {
			background-color: rgba(206, 216, 226, 0.4);
		}

		&:first-child {
			.event-timing {
				font-weight: 700;
				color: $ORG2;
			}
		}

		.event-description {
			text-align: right;
			font-size: 14px;
		}
	}

	.group-row {
		height: 44px;
		font-size: 15px;
		padding-top: 12px;
		margin-left: 8px;
		margin-right: 8px;

		&:nth-child(odd) {
			background-color: rgba(206, 216, 226, 0.2);
		}

		&:nth-child(even) {
			background-color: rgba(206, 216, 226, 0.4);
		}

		.group-name {
			font-weight: 200;
		}
	}
}

#it600-error-modal {
	.warning-icon {
		height: 50px;
		width: 50px;
		background: url("/images/icons/myEquipment/icon_alert_triangle_red.svg") no-repeat center;
		background-size: contain;
		vertical-align: bottom;
	}

	.title {
		font-size: 28px;
		margin-left: 15px;
	}

	.error-item {
		padding-top: 10px;
		padding-bottom: 10px;
		border-top: 1px solid $GRY_LT4;

		&:last-of-type {
			border-bottom: 1px solid $GRY_LT4;
		}
	}

	.error-number, .error-message {
		font-size: 20px;
	}

	.error-message {
		margin-left: 10px;
	}

	.error-collection {
		margin-left: 70px;
		margin-bottom: 30px;
		margin-right: 70px;
	}
}