.float-label-wrapper {
	position: relative;
}

.float-label {
	position: absolute;
	left: 12px;
	top: 13px;
	font-size: 11px;
	color: #aaa;
	transition: all 0.1s linear;
	opacity: 0;
	font-weight: bold;
}

.float-label.show {
	top: 4px;
	opacity:1;
}

.dropdown {
    .float-label.show {
        top: 24px;
        opacity: 1;
    }
    span.label-value {
        margin-top: 5px;
    }
}

.float-label-input {
	padding-top: 12px;
	padding-bottom: 6px;
	height: 46px;
}

.form-error {
	min-height: 20px;
	color: $RED1;
}

.dropdown-button {
	height: 46px;
    color: #555555;
    font-weight: 600;
}

.has-feedback {
	.form-control-feedback {
		top: -40px;
    	right: -40px;
		height: 36px;
		width: 36px;
		border-radius: 18px;
	}

	&.has-error .form-control-feedback {
		// todo: replace with asset
		background-color: red;
	}

	&.has-success .form-control-feedback{
		// todo: replace with asset
		background-color: green;

		&:after {
		    content: 'confirmed';    
		    float: right;
		    padding: 23px 0px;
		}
	}
}

#change-password {
	.has-feedback {
		.form-control-feedback {
			top: 5px !important;
		    right: 55px;
		    height: 36px;
		    width: 36px;
		    border-radius: 18px;
		}

		&.has-error .form-control-feedback {
			// todo: replace with asset
			background-color: red;
		}

		&.has-success .form-control-feedback{
			// todo: replace with asset
			background-color: green;

			&:after {
				content: 'confirmed';
				margin-left: 50px;
				    padding: 30px 0px;
				float: right;
			}
		}
	}
}

.select-temp-text-box {
	// xs is full col-xs-6 width

	@media (min-width: $screen-sm-min) {
		width: 185px;
	}
}

.hide-inner-spin-button {
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.input-container {
	position:relative;
	font-size: 24px;
	color: $GRY3;

	// hide up down arrows on number text box
	input::-webkit-inner-spin-button {
		@extend .hide-inner-spin-button;
	}

	input {
		position: absolute;
		padding-right: 40px;
		-webkit-appearance: none;
		margin: 0;
	}

	.overlayed-units {
		position:absolute;
		right: 10px;
		top: 4px;
	}
}

.form-group {
	.form-control.with-feedback {
		padding-right: 30px;
	}

	// hide up down arrows on number text box
	input::-webkit-inner-spin-button {
		@extend .hide-inner-spin-button;
	}

}
