#make-myStatus-page {
	.rule-area {
		background-color: $WHT2;
		border-top: 1px solid $BLU1;
		padding: 0;
		margin-bottom: 50px;
		margin-top: 30px;

		@media (min-width: $screen-md-min) {
			margin-top: 0;
			margin-left: 10px;
		}
	}

	.row-properties {
		height: 39px;
		margin-bottom: 60px;

		@media (min-width: $screen-md-min) {
			margin-bottom: 50px;
		}
	}

	.create-oneTouch {
		@media (min-width: $screen-lg-min) {
			padding-right: 75px;
		}

		.position {
			@include center-horizontal-absolute();
			min-width: 305px;

			@media (min-width: $screen-md-min) {
				width: 370px;
				left: 80% !important;
			}

			@media (min-width: $screen-lg-min) {
				left: 78% !important;
			}
		}

		.create-oneTouch-icon {
			background: url("/images/icons/icon_add_blue.svg") no-repeat center;
			height: 30px;
			width: 30px;
			background-size: contain;
			float: right;
		}

		.create-oneTouch-text {
			font-size: 14px;
			font-weight: 600;

			@media (min-width: $screen-sm-min) {
				font-size: 18px;
				font-weight: normal;
			}
		}
	}

	.rule-container {
		position: relative;
		border-bottom: 1px solid $BLU1;

		.rule-checkbox {
			.checkbox-text {
				margin-left: 20px;
				font-size: 18px;
				font-weight: 600;
				color: $GRY3;
			}

			&.active {
				margin-bottom: 50px;
				margin-top: 24px;
			}

			&.inactive {
				margin-top: 30px;
				margin-bottom: 30px;
			}
		}

		.run-when-start {
			margin-left: 10px;
			margin-bottom: 24px;
			position: relative;

			@media (min-width: $screen-sm-min) {
				margin-left: 65px;
			}

			.run-text {
				font-size: 18px;
				color: $GRY3;
			}
		}

		.switch {
			margin-left: 40px;
			height: 60px;
			width: 60px;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: 0% 50%;

			&.switch-no {
				background-image: url("/images/icons/myStatus/misc/switch_no.svg");
			}

			&.switch-yes {
				background-image: url("/images/icons/myStatus/misc/switch_yes.svg");
			}
		}

		.arrow {
			height: 25px;
			width: 25px;
			background-image: url("/images/icons/dashboard/icon_arrow_green.svg");
			background-repeat: no-repeat;
			background-size: contain;
			background-position: 100% 50%;
			right: 20px;
		}
	}

	.heading-row {
		position: relative;
		margin-bottom: 14px;

		.edit {
			width: 24px;
			height: 24px;
			background: url("/images/icons/myEquipment/icon_edit_blue.svg") no-repeat center;
			background-size: contain;
			right: 13px;
		}

		.edit-icon {
			height: 30px;
			width: 30px;
			position: absolute;
			right: 10px;
			bottom: 21px;

			@media (min-width: $screen-md-min) {
				height: 24px;
				width: 24px;
			}
		}

		.bad-gateway-text {
			color: $RED1;
		}
	}

	.save-rules {
		.cancel-button {
			@media (min-width: $screen-sm-min) {
				float: right;
			}
		}

		.save-button {
			margin-bottom: 10px;

			@media (min-width: $screen-sm-min) {
				float: right;
				margin-right: 50px;
			}
		}
	}

	.delete-button {
		@media (max-width: $screen-sm-min) {
			@include center-horizontal-absolute();
		}

		@media (min-width: $screen-sm-min) {
			float: right;
			margin-right: 220px;
		}
	}

	.delete {
		@media (max-width: $screen-sm-min) {
			@include center-horizontal-absolute();
		}
	}

	.disable-status {
		cursor: not-allowed;
	}

	.make-status-tile {
		border: 1px solid $BLU1;
		background-position: 50% 54px;
		background-size: 47.65% 48.3%;
		margin-bottom: 36px;
		background-repeat: no-repeat;
		width: calc(100% - 40px);
		height: 298px;
		margin-left: 20px;

		@media (min-width: $screen-md-min) {
			width: 298px;
			margin-left: 0;
		}

		.myStatus-selected {
			background-size: contain;
			position: absolute;
			padding: 0;

			&.selected {
				height: 10.2%;
				width: 10.2%;
				bottom: 4.73%;
				right: 4.73%;
				background: url("/images/icons/dashboard/icon_radio_selected.svg") no-repeat center;
				background-size: contain;
			}

			&.deselected {
				background: url("/images/icons/dashboard/icon_radio_not_selected.svg") no-repeat center;
				bottom: 4.73%;
				right: 4.73%;
				height: 10.2%;
				width: 10.2%;
				background-size: contain;
			}

			&.invalid {
				bottom: 4.73%;
				right: 4.73%;
				height: 10.2%;
				width: 10.2%;
				background: url("/images/icons/myStatus/misc/icon_disabled.svg") no-repeat center;
				background-size: contain;
			}
		}

		&.a {
			background-image: url("/images/icons/myStatus/coloredIcons/A.svg");
		}
		&.airplane {
			background-image: url("/images/icons/myStatus/coloredIcons/Airplane.svg");
		}
		&.away {
			background-image: url("/images/icons/myStatus/coloredIcons/Away.svg");
		}
		&.balloons {
			background-image: url("/images/icons/myStatus/coloredIcons/Balloons.svg");
		}
		&.candles {
			background-image: url("/images/icons/myStatus/coloredIcons/Candles.svg");
		}
		&.cloud {
			background-image: url("/images/icons/myStatus/coloredIcons/Cloud.svg");
		}
		&.cone {
			background-image: url("/images/icons/myStatus/coloredIcons/Cone.svg");
		}
		&.exclamation {
			background-image: url("/images/icons/myStatus/coloredIcons/Exclamation.svg");
		}
		&.eye {
			background-image: url("/images/icons/myStatus/coloredIcons/Eye.svg");
		}
		&.family {
			background-image: url("/images/icons/myStatus/coloredIcons/Family.svg");
		}
		&.flame {
			background-image: url("/images/icons/myStatus/coloredIcons/Flame.svg");
		}
		&.gift {
			background-image: url("/images/icons/myStatus/coloredIcons/Gift.svg");
		}
		&.house {
			background-image: url("/images/icons/myStatus/coloredIcons/House.svg");
		}
		&.house_snowflake {
			background-image: url("/images/icons/myStatus/coloredIcons/House_Snowflake.svg");
		}
		&.house_sun {
			background-image: url("/images/icons/myStatus/coloredIcons/House_Sun.svg");
		}
		&.keys {
			background-image: url("/images/icons/myStatus/coloredIcons/Keys.svg");
		}
		&.leaf {
			background-image: url("/images/icons/myStatus/coloredIcons/Leaf.svg");
		}
		&.man_hat {
			background-image: url("/images/icons/myStatus/coloredIcons/Man_Hat.svg");
		}
		&.martini {
			background-image: url("/images/icons/myStatus/coloredIcons/Martini.svg");
		}
		&.moon {
			background-image: url("/images/icons/myStatus/coloredIcons/Moon.svg");
		}
		&.snowflake {
			background-image: url("/images/icons/myStatus/coloredIcons/Snowflake.svg");
		}
		&.suitcase {
			background-image: url("/images/icons/myStatus/coloredIcons/Suitcase.svg");
		}
		&.sun {
			background-image: url("/images/icons/myStatus/coloredIcons/Sun.svg");
		}
		&.sun_cloud {
			background-image: url("/images/icons/myStatus/coloredIcons/Sun_Cloud.svg");
		}
		&.umbrella {
			background-image: url("/images/icons/myStatus/coloredIcons/Umbrella.svg");
		}
	}

	#add-new-icon-tile {
		.myStatus-selected {
			background-size: contain;

			&.selected {
				position: absolute;
				padding: 0;
				background: url("/images/icons/dashboard/icon_radio_selected.svg") no-repeat center;
				height: 10.2%;
				width: 10.2%;
				bottom: 4.73%;
				right: 4.73%;
				background-size: contain;
			}

			&.deselected {
				position: absolute;
				padding: 0;
				background: url("/images/icons/dashboard/icon_radio_not_selected.svg") no-repeat center;
				bottom: 4.73%;
				right: 4.73%;
				height: 10.2%;
				width: 10.2%;
				background-size: contain;
			}
		}
	}



	.breadcrumb {
		font-size: 20px;
	}

	#myStatus-name-edit {
		position: absolute;
		z-index: 1;
		width: 100%;
		background-color: $GRY_LT2;
		right: 0;

		.input-name {
			margin-left: 26px;
		}

		.save-button {
			margin-top: 20px;
			height: 43px;
			padding-bottom: 53px;

			@media (min-width: $screen-sm-min) {
				margin-top: 0;
			}
		}

		.cancel-button {
			height: 43px;
		}

		.my-status-edit-name-button {
			position: absolute;
			width: 230px;

			@media (min-width: $screen-sm-min) {
				width: 80px;
				left: 0;
				margin: 21px 0 0 40px;

			}
		}
	}
}