.inner-shadow {
	@include dropshadow(0px, 3px, 5px, -2px, rgba(0, 0, 0, 0.4), true);
	border-radius: 50%;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.front {
	.thermostat-tile {
		@include green-gradient-tile-background();

		&.heating {
			@include orange-gradient-tile-background();

			.rs-inner {
				@include color-gradient-with-angle(135deg, $TILE-ORANGE-GRADIENT-TOP, -40%, $TILE-ORANGE-GRADIENT-BOTTOM, 170%);
			}

			/* the area behind of the range slider, its usually darker in color */
			.rs-range-color {
				background-color: $TILE-ORANGE-GRADIENT-BACKFILL;
			}

			/* the area in front of the range slider, its usually lighter in color */
			.rs-path-color {
				background-color: $TILE-ORANGE-GRADIENT-FORWARDFILL;
			}

			.rs-overlay {
				@include color-gradient-with-angle(290deg, $TILE-ORANGE-GRADIENT-TOP, -125%, $TILE-ORANGE-GRADIENT-BOTTOM, 170%);
			}
		}

		&.cooling {
			@include light-blue-gradient-tile-background();

			.rs-inner {
				@include color-gradient-with-angle(135deg, $TILE-LIGHT-BLUE-GRADIENT-TOP, -40%, $TILE-LIGHT-BLUE-GRADIENT-BOTTOM, 170%);
			}

			/* the area behind of the range slider, its usually darker in color */
			.rs-range-color {
				background-color: $TILE-LIGHT-BLUE-GRADIENT-BACKFILL;
			}

			/* the area in front of the range slider, its usually lighter in color */
			.rs-path-color {
				background-color: $TILE-LIGHT-BLUE-GRADIENT-FORWARDFILL;
			}

			.rs-overlay {
				@include color-gradient-with-angle(290deg, $TILE-LIGHT-BLUE-GRADIENT-TOP, -125%, $TILE-LIGHT-BLUE-GRADIENT-BOTTOM, 170%);
			}
		}

		&.idle {
			.tstat-control-icon {
				opacity: 0.5;
			}
		}
		
		&.disconnected {
			@include grey-gradient-tile-background();

			.rs-inner {
				@include color-gradient-with-angle(135deg, $TSTAT-INNER-GREY-GRADIENT-TOP, 0%, $TSTAT-INNER-GREY-GRADIENT-BOTTOM, 100%);
			}

			/* the area behind of the range slider, its usually darker in color */
			.rs-range-color {
				background-color: $TSTAT-ARC-GREY-DARK;
			}

			/* the area in front of the range slider, its usually lighter in color */
			.rs-path-color {
				background-color: $TSTAT-ARC-GREY-LIGHT;
			}

			.rs-overlay {
				@include color-gradient-with-angle(-90deg, $TSTAT-OVERLAY-GREY-GRADIENT-TOP, 0%, $TSTAT-OVERLAY-GREY-GRADIENT-BOTTOM, 100%);
			}

			.tstat-control-group, .arc-group {
				opacity: 0.5;
			}
		}
		
		&.no-device {
			@include black-gradient-tile-background();
			
			.rs-inner {
				@include color-gradient-with-angle(135deg, $TSTAT-INNER-BLACK-GRADIENT-TOP, 0%, $TSTAT-INNER-BLACK-GRADIENT-BOTTOM, 100%);
			}
			
			/* the area behind of the range slider, its usually darker in color */
			.rs-range-color {
				background-color: $TSTAT-ARC-GREY-DARK;
			}

			/* the area in front of the range slider, its usually lighter in color */
			.rs-path-color {
				background-color: $TSTAT-ARC-GREY-LIGHT;
			}
			
			.rs-overlay {
				@include color-gradient-with-angle(-90deg, $TSTAT-OVERLAY-BLACK-GRADIENT-TOP, 0%, $TSTAT-OVERLAY-BLACK-GRADIENT-BOTTOM, 100%);
			}
			
			.tstat-control-group, .arc-group {
				opacity: 0.5;
			}
		}
	}

	$CONTROL-BUTTON-WIDTH-HEIGHT: 17px;

	.arc-group {
		width: $FRONT-ARC-WIDTH-HEIGHT !important;
		height: $FRONT-ARC-WIDTH-HEIGHT !important;
		margin-left: 16px;
		position: relative; /* For positioning the child element arc-output */
		float: left;
	}

	.tstat-control-group {
		float: left;
		position: relative;
		width: 38px;
		height: $FRONT-ARC-WIDTH-HEIGHT;

		.center-controls {
			@include center-vertical-horizontal-absolute();
			width: $CONTROL-BUTTON-WIDTH-HEIGHT;
			height: 52px;
		}
	}

	.tstat-control-icon {
		margin-bottom: 15px;
		width: $CONTROL-BUTTON-WIDTH-HEIGHT;
		height: $CONTROL-BUTTON-WIDTH-HEIGHT;
	}

	.tstat-arc {
		/* Using !important on the following attributes to override the incorrect values that roundslider.js sets */
		@include hide-backface();
		width: $FRONT-ARC-WIDTH-HEIGHT !important; /* set fixed width so it doesn't try to center during a tile flip */
		height: $FRONT-ARC-WIDTH-HEIGHT !important;
		
		background-image: url("/images/icons/dashboard/icon_tstat_arc.svg");
		background-repeat: no-repeat;

		.rs-container {
			width: $FRONT-ARC-WIDTH-HEIGHT !important;
			height: $FRONT-ARC-WIDTH-HEIGHT !important;
			margin: 0 auto;
			border-radius: 50%;
			background-color: transparent;
		}

		.rs-inner {
			@include color-gradient-with-angle(135deg, $TILE-GREEN-GRADIENT-TOP, -40%, $TILE-GREEN-GRADIENT-BOTTOM, 170%);
			@include dropshadow(0px, 3px, 3px, 0px, rgba(0, 0, 0, 0.4), false);
		}

		/* the area behind of the range slider, its usually darker in color */
		.rs-range-color {
			background-color: $TILE-GREEN-INNER-TRACK;
		}

		/* the area in front of the range slider, its usually lighter in color */
		.rs-path-color {
			background-color: $TILE-TSTAT-OUTER-CIRCLE-GREEN-GRADIENT-BOTTOM;
		}

		.rs-seperator {
			border: none;
		}

		/* roundslider.js readonly class sets the arc to position absolute, we override it so to keep our arc center */
		.rs-readonly {
			position: relative;
		}

		.rs-handle {
			@include dropshadow(0px, 0px, 7px, 0px, $COLOR-SHADOW, false);
			background: $GRY_LT2;
			cursor: pointer;
		}

		.rs-border {
			border-color: transparent;
		}

		.rs-overlay {
			@include color-gradient-with-angle(290deg, $TILE-GREEN-GRADIENT-TOP, -125%, $TILE-GREEN-GRADIENT-BOTTOM, 170%);
		}

		.rs-tooltip-text {
			@include center-vertical-horizontal-absolute();
			margin-top: 2px !important;
			margin-left: -2px !important;
			font-size: 25px;
			font-weight: lighter;
			font-family: 'Open Sans', sans-serif;

			/* Adding the degrees symbol to each temperature value */
			&:after {
				content: "\00b0";
				position: absolute;
				top: 0;
				left: 100%; /* place the symbol to the far left of the value and absolute position it so the symbol is not included in the centering calculation of the number value */
			}
		}
	}
}

.back {
	.arc-group {
		width: $BACK-ARC-WIDTH-HEIGHT !important;
		height: $BACK-ARC-WIDTH-HEIGHT !important;
		margin: 23px auto auto 31px;
		position: relative; /* For positioning the child element arc-output */
		float: left;
	}

	.rs-disabled {
		opacity: $TILE-DISABLED-OPACITY;
	}

	.disconnected {
		.center-controls {
			opacity: $TILE-DISABLED-OPACITY;
		}
	}

	.tstat-control-group {
		float: left;
		position: relative;
		width: 75px;
		height: 167px;
		margin-top: 23px;

		.center-controls {
			@include center-vertical-horizontal-absolute();
			width: 31px;
			height: 115px;
		}
	}

	.tstat-control-icon {
		width: 31px;
		height: 31px;
		margin-bottom: 31px;
	}

	.tstat-arc {
		width: $BACK-ARC-WIDTH-HEIGHT !important;
		height: $BACK-ARC-WIDTH-HEIGHT !important;

		.rs-container {
			@include center-vertical-horizontal-absolute();
			width: $BACK-ARC-WIDTH-HEIGHT !important;
			height: $BACK-ARC-WIDTH-HEIGHT !important;
		}

		.rs-outer .rs-block {
			background-image: url("/images/rainbow_graident_original_size.png");
			background-size: cover;
		}

		.rs-inner {
			@include color-gradient-with-angle(135deg, $TILE-BLUE-GRADIENT-TOP, -40%, $TILE-BLUE-GRADIENT-BOTTOM, 170%);
			@include dropshadow(0px, 4px, 4px, 0px, $COLOR-SHADOW, false);
		}

		.rs-path-color, .rs-range-color {
			background-color: transparent;
		}

		.rs-seperator {
			border: none;
		}

		.rs-handle {
			@include dropshadow(0px, 0px, 7px, 0px, $COLOR-SHADOW, false);
			background: $GRY_LT2;
			cursor: pointer;
		}

		.rs-border {
			border-color: transparent;
		}
		
		.rs-block {
			z-index: inherit;
		}

		.rs-overlay {
			@include color-gradient-with-angle(290deg, $TILE-BLUE-GRADIENT-TOP, -125%, $TILE-BLUE-GRADIENT-BOTTOM, 170%);
		}
	}

	.arc-output {
		@include center-vertical-horizontal-absolute();
		width: 103px;
		height: 103px;
	}

	.arc-set-point-temp {
		font-size: 40px;
		line-height: 58px;
		font-weight: lighter;
		color: $WHT0;
		text-align: right;
		height: 50%;
		transition: font 0.3s ease;

		&.updating {
			font-size: 50px;
			line-height: 50px;
		}
	}

	.arc-current-temp {
		border-top: 2px solid $WHT0;
		font-size: 21px;
		font-weight: lighter;
		color: $WHT0;
		text-align: right;
	}

	/* Adding the degrees symbol to each temperature value */
	.arc-set-point-temp, .arc-current-temp {
		&:after {
			content: "\00b0"
		}
	}
}

.tile .front .heating-icon-on {
	@include hide-backface();
	background: center/contain url('/images/icons/dashboard/icon_heater_on_white.svg') no-repeat;
}

.tile .front .heating-icon-off {
	@include hide-backface();
	background: center/contain url('/images/icons/dashboard/icon_heater_on_white.svg') no-repeat;
}

.op-heating-icon-on {
	@include hide-backface();
	background: center/contain url('/images/icons/dashboard/icon_heater_on_white.svg') no-repeat;
}

.tile .back .heating-icon-on {
	@include hide-backface();
	background: center/contain url('/images/icons/dashboard/icon_heater_on_orange.svg') no-repeat;
}

.tile .back .heating-icon-off {
	@include hide-backface();
	background: center/contain url('/images/icons/dashboard/icon_heater_off_grey.svg') no-repeat;
}

.tile .front .cooling-icon-on {
	@include hide-backface();
	background: center/contain url('/images/icons/dashboard/icon_air_conditioning_snowflake_on_white.svg') no-repeat;
}

.tile .front .cooling-icon-off {
	@include hide-backface();
	background: center/contain url('/images/icons/dashboard/icon_air_conditioning_snowflake_on_white.svg') no-repeat;
}

.op-cooling-icon-on {
	@include hide-backface();
	background: center/contain url('/images/icons/dashboard/icon_air_conditioning_snowflake_on_white.svg') no-repeat;
}

.tile .back .cooling-icon-on {
	@include hide-backface();
	background: center/contain url('/images/icons/dashboard/icon_air_conditioning_snowflake_on_blue.svg') no-repeat;
}

.tile .back .cooling-icon-off {
	@include hide-backface();
	background: center/contain url('/images/icons/dashboard/icon_air_conditioning_snowflake_off_grey.svg') no-repeat;
}

.auto-icon {
	@include hide-backface();
	background: center/contain url('/images/icons/dashboard/icon_auto.svg') no-repeat;
}

.power-icon {
	@include hide-backface();
	background: center/contain url('/images/icons/dashboard/icon_power.svg') no-repeat;
}

.fan-on {
	@include hide-backface();
	background: center/contain url('/images/icons/dashboard/icon_fan.svg') no-repeat;
	// Saving this for when we demo a spinning fan icon
	//		-webkit-animation: spin 1300ms infinite linear;
	//		animation: spin 1300ms infinite linear;
}

.fan-auto {
	@include hide-backface();
	background: center/contain url('/images/icons/dashboard/icon_fan_auto.svg') no-repeat;
	// Saving this for when we demo a spinning fan icon
	//		-webkit-animation: spin 1300ms infinite linear;
	//		animation: spin 1300ms infinite linear;
}

.hold-permanent-icon {
	@include hide-backface();
	background: center/contain url('/images/icons/dashboard/icon_permanent_hold.svg') no-repeat;
}

.hold-auto-icon {
	@include hide-backface();
	background: center/contain url('/images/icons/dashboard/icon_follow_schedule.svg') no-repeat;
}

.hold-temporary-icon {
	@include hide-backface();
	background: center/contain url('/images/icons/dashboard/icon_temporary_hold.svg') no-repeat;
}

// Saving this for when we demo a spinning fan icon
//	@-webkit-keyframes spin {
//		0% {
//			-webkit-transform: rotate(0deg);
//			transform: rotate(0deg);
//		}
//
//		100% {
//			-webkit-transform: rotate(359deg);
//			transform: rotate(359deg);
//		}
//	}
//	@keyframes spin {
//		0% {
//			-webkit-transform: rotate(0deg);
//			transform: rotate(0deg);
//		}
//
//		100% {
//			-webkit-transform: rotate(359deg);
//			transform: rotate(359deg);
//		}
//	}

.mode-menu {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 23px;
	width: 200px;
	height: auto;
	background-color: $TILE-MODE-MENU-BG;
	z-index: 101;

	$ROW-HEIGHT: 44px;

	.mode-item-row {
		@include salus-clearfix();
		border-bottom: 1px solid $WHT0;

		&:last-child {
			border-bottom: none;
		}
	}

	.mode-icon-wrapper {
		width: $ROW-HEIGHT;
		height: $ROW-HEIGHT;
		float: left;
		position: relative;
	}

	.mode-icon {
		@include center-vertical-horizontal-absolute();
		width: 22px;
		height: 22px;
	}

	.mode-title {
		position: relative;
		text-align: center;
		height: 44px;
		padding-left: 60px;
		width: 100%;
	}

	.temp-mode-menu-sizing {
		height: 230px;
		padding: 70px 5px;
		color: $WHT0;
	}
}

.heating-color {
	&:active {
		background-color: $MODE-MENU-HEATING;
		color: $WHT0 !important; // Invert color to white on click
	}

	&.active-mode {
		color: $MODE-MENU-HEATING;
	}

	.mode-icon-wrapper {
		background-color: $MODE-MENU-HEATING;
	}

}

.system-off-color {
	&:active {
		background-color: $MODE-MENU-SYSTEM-OFF;
		color: $WHT0 !important; // Invert color to white on click
	}

	&.active-mode {
		color: $MODE-MENU-SYSTEM-OFF;
	}

	.mode-icon-wrapper {
		background-color: $MODE-MENU-SYSTEM-OFF;
	}
}

.cooling-color {
	&:active {
		background-color: $MODE-MENU-COOLING;
		color: $WHT0 !important; // Invert color to white on click
	}

	&.active-mode {
		color: $MODE-MENU-COOLING;
	}

	.mode-icon-wrapper {
		background-color: $MODE-MENU-COOLING;
	}
}

.auto-color {
	&:active {
		background-color: $MODE-MENU-AUTO;
		color: $WHT0 !important; // Invert color to white on click
	}

	&.active-mode {
		color: $MODE-MENU-AUTO;
	}

	.mode-icon-wrapper {
		background-color: $MODE-MENU-AUTO;
	}
}

.power-color {
	&:active {
		background-color: $MODE-MENU-POWER;
		color: $WHT0 !important; // Invert color to white on click
	}

	&.active-mode {
		color: $MODE-MENU-POWER;
	}

	.mode-icon-wrapper {
		background-color: $MODE-MENU-POWER;
	}
}

.fan-on-color {
	&:active {
		background-color: $MODE-MENU-FAN;
		color: $WHT0 !important; // Invert color to white on click
	}

	&.active-mode {
		color: $MODE-MENU-FAN;
	}

	.mode-icon-wrapper {
		background-color: $MODE-MENU-FAN;
	}
}

.hold-auto-color {
	&:active {
		background-color: $MODE_MENU-HOLD-AUTO;
		color: $WHT0 !important; // Invert color to white on click
	}

	&.active-mode {
		color: $MODE_MENU-HOLD-AUTO;
	}

	.mode-icon-wrapper {
		background-color: $MODE_MENU-HOLD-AUTO;
	}
}

.hold-perm-color {
	&:active {
		background-color: $MODE_MENU-HOLD-PERM;
		color: $WHT0 !important; // Invert color to white on click
	}

	&.active-mode {
		color: $MODE_MENU-HOLD-PERM;
	}

	.mode-icon-wrapper {
		background-color: $MODE_MENU-HOLD-PERM;
	}
}

.hold-temp-color {
	&:active {
		background-color: $MODE_MENU-HOLD-TEMP;
		color: $WHT0 !important; // Invert color to white on click
	}

	&.active-mode {
		color: $MODE_MENU-HOLD-TEMP;
	}

	.mode-icon-wrapper {
		background-color: $MODE_MENU-HOLD-TEMP;
	}
}

.frost-degrees-dropdown {
	.dropdown-button {
		height: 30px;
		margin-left: 10px;
		padding: 5px 5px;

		@media (min-width: $screen-sm-min) {
			margin-top: -3px;
		}
	}
}