<div class="bb-instruction-box-image instruction-box-image <%=backgroundImageClass%>"></div>
<div class="bb-instruction-paragraph instruction-paragraph"></div>
<div class="bb-instruction-button-area button-area"></div>