<div class="bb-breadcrumbs"></div>
<h1 id="bb-create-edit-one-touch-header" class="h1"></h1>
<div class="subheader" data-i18n="equipment.oneTouch.create.subtitle"></div>
<div class="row content-row">
	<div class="bb-name-region col-xs-12 col-sm-4"></div>
	<div class="bb-criteria-region col-xs-12 col-sm-8"></div>
</div>
<div class="row margin-t-10">
	<div class="bb-rule-save-button col-xs-10 col-xs-pull-1 col-sm-4 col-sm-pull-0 col-md-3 pull-right margin-b-15"></div>
	<div class="bb-rule-cancel-button col-xs-10 col-xs-pull-1 col-sm-4 col-sm-pull-0 col-md-3 pull-right margin-b-15"></div>
</div>