<div class="row title-form-row">
	<div class="add-new-contact col-xs-6" data-i18n="equipment.oneTouch.menus.doThis.notifyMe.contactMenu.addNewContact"></div>
	<div class="bb-cancel-button cancel-button col-xs-6">
		<span class="icon-close pull-right"></span>
		<span class="cancel-text pull-right" data-i18n="common.labels.cancel"></span>
	</div>
</div>
<div class="row contact-details-row margin-b-15">
	<div class="bb-mobile-number-dropdown new-contact-dropdown col-xs-4"></div>
	<div class="bb-mobile-number-textbox new-contact-textbox has-dropdown col-xs-8"></div>
	<div class="bb-email-address new-contact-textbox col-xs-12"></div>
	<div class="bb-email-address-confirm new-contact-textbox col-xs-12"></div>
</div>