<div>
	<span class="font-semi-bold" data-i18n="errors.serviceEndpoint"></span>
	<span class="bb-service-endpoint"></span>
</div>

<div>
	<span class="font-semi-bold" data-i18n="errors.statusCode"></span>
	<span class="bb-status-code"></span>
</div>

<div>
	<span class="font-semi-bold" data-i18n="errors.statusText"></span>
	<span class="bb-status-text"></span>
</div>

<div>
	<span class="font-semi-bold" data-i18n="errors.responseText"></span>
	<span class="bb-response-text"></span>
</div>