<% /* The Header is now in multiple places. See See header.html, authenticatingPage.html and mainBody.ejs */%>
<div class="navbar-header row">
	<a href="/dashboard" class="navbar-brand hidden-xs bb-logo-link">
		<img class="bb-header-icon header-icon pull-left" src="<%= salusLogo %>">
		<span class="brand-text font-light pull-left" data-i18n="common.brand"></span>
	</a>
	<% if (!isDashboard) { %>
	<div class="col-xs-4 visible-xs nav-min-height">
		<button id="bb-back" type="button" class="btn btn-default navbar-btn salus-navbar-btn"
				data-i18n="common.labels.back"></button>
	</div>
	<% } %>
	<div class="col-xs-4 visible-xs nav-min-height">
		<a id="bb-salus-logo-link" href="/dashboard" class="navbar-brand salus-navbar-brand center-vertical-absolute">
			<span class="header-icon">
				<img class="center-block" src="<%= salusLogo %>">
			</span>
		</a>
	</div>
	<div class="col-xs-4 visible-xs nav-min-height pull-right">
		<div class="hamburger-button center-vertical-absolute" id="bb-mobile-menu-button"></div>
	</div>
</div>
<div class="navbar-collapse collapse bb-region-links-desktop hidden-xs" id="bb-desktop-links"></div>
