<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Jasmine Spec Runner v2.3.4</title>

	<link rel="shortcut icon" type="image/png" href="js/lib/jasmine/jasmine_favicon.png">
	<link rel="stylesheet" href="css/lib/jasmine.css">

	<script src="js/lib/jasmine/jasmine.js"></script>
	<script src="js/lib/jasmine/jasmine-html.js"></script>
	<script src="js/lib/jasmine/boot.js"></script>
	<script src="../src/js/lib/underscore.js"></script>

	<!-- include source files here... -->
	<script src="../src/js/lib/require.js"></script>
	<script src="../src/js/requireConfig.js"></script>
	<script src="js/consumer-bootstrap.js"></script>


</head>

<body>
<%- include("modules/mainBody.ejs")%>
</body>
</html>
