<div class="bb-add-new-tile-background add-new-tile-background relative-size-1x1 width100">
	<div id="add-new-icon-tile" class="absolute-fill">
		<div class="bb-add-new-tile-text add-new-tile-text"></div>
	</div>
</div>