<div class="single-controls-header" data-i18n="equipment.myEquipment.categories.thermostats.singleControls"></div>
<div class="bb-single-controls-container single-controls-container"></div>
<div class="row">
	<div role="button" class="bb-edit-icon edit-icon"></div>
</div>