<div class="col-xs-12 setup-wizard-header margin-b-15"></div>
<div class="container">
	<div class="col-xs-12 col-sm-10 col-sm-offset-1">
		<div class="page-header">
			<h1 class="h1" data-i18n="settings.profile.title"></h1>
		</div>
		<div class="row form profile-info">
			<div class="col-xs-12">
				<div class="row margin-b-15">
					<div class="col-xs-12 col-sm-6">
						<div class="bb-first-name"></div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div class="bb-last-name"></div>
					</div>
				</div>
				<div class="row ">
					<div class="col-xs-12 col-sm-6">
						<div class="bb-email"></div>
					</div>
				</div>
				<div class="row margin-b-15">
					<div class="col-xs-12 col-sm-6">
						<div class="bb-password"></div>
					</div>
				</div>
                <div class="row margin-b-15">
                    <div class="col-xs-12 col-sm-6">
						<div class="bb-country"></div>
					</div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
						<div class="bb-country-code"></div>
					</div>
                    <div class="col-xs-12 col-sm-6">
						<div class="bb-phone"></div>
					</div>
                </div>
               
				<div class="row margin-b-45">
					<div class="col-xs-12 col-sm-6">
						<div class="bb-language form-group"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row save-cancel-buttons">
			<div class="col-xs-12 col-sm-2 bb-submit-button submit-button"></div>
			<div class="col-xs-12 col-sm-2 bb-cancel-button cancel-button"></div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-4 form toc-button-form margin-b-30 bb-delete-profile delete-profile"></div>
		</div>
	</div>
</div>
