<div class="container-fluid">
	<div class="row">
		<div class="icon-warning margin-auto"></div>
		<div class="delete-share-modal-text col-xs-12 text-center font-size-18"><%= deletePrompt %></div>
		<div class="col-xs-12 text-center" data-i18n="equipment.delete.sharesDontWorry"></div>
	</div>
	<hr class="hidden-xs"/>
	<div class="row">
		<div class="bb-btn-delete col-xs-8 col-xs-push-2 col-sm-4 margin-t-20"></div>
		<div class="bb-btn-close col-xs-8 col-xs-push-2 col-sm-4 margin-t-20"></div>
	</div>
</div>