<div class="col-xs-12">
	<div class="row bb-collapsed-view">
		<div class="bb-gateway-list-device-name gateway-list-device-name col-xs-12 col-sm-3"></div>
		<div class="device-dsn col-xs-6 col-sm-4"><%= dsn %></div>
		<div class="bb-device-status device-status col-xs-6 col-sm-3"></div>
	</div>
	<div class="row bb-edit-region"></div>
</div>