<div id="bb-equipment-history-table" class="equipment-history-table">
	<div class="row header-row font-semi-bold">
		<div data-sort="DATE" class="col-xs-2 bb-header header disable-text-select">
			<div class="inline-block" data-i18n="equipment.history.headers.date"></div>
			<div class="inline-block sort-arrow-icon"></div>
		</div>
		<div data-sort="TIME" class="col-xs-2 bb-header header disable-text-select">
			<div class="inline-block" data-i18n="equipment.history.headers.time"></div>
			<div class="inline-block sort-arrow-icon"></div>
		</div>
		<div data-sort="USER" class="col-xs-4 bb-header header disable-text-select">
			<div class="inline-block" data-i18n="equipment.history.headers.user"></div>
			<div class="inline-block sort-arrow-icon"></div>
		</div>
		<div data-sort="EVENT" class="col-xs-4 bb-header header disable-text-select">
			<div class="inline-block" data-i18n="equipment.history.headers.event"></div>
			<div class="inline-block sort-arrow-icon"></div>
		</div>
	</div>
</div>
<div class="width100">
	<div class="maximize-icon bb-maximize"></div>
</div>
