<div role="button" class="bb-tile tile large-size">
	<div class="bb-front front">
		<div class="add-new-tile-background height100 width100">
			<div class="absolute-fill">
				<div class="bb-add-new-tile-text add-new-tile-text regular-text"></div>
			</div>
		</div>
	</div>
</div>

