<div class="bb-hook-for-hiding-back">
	<div class="tile-header-container">
		<a class="bb-title-text bb-back-tile-title title-text" href="/equipment/myEquipment/<%= dsn %>"></a>
		<div role="button" class="bb-flip-button close-button"></div>
	</div>
	<div class="equipment-icon"></div>
	<div class="equipment-switch"></div>
	<div role="button" class="bb-pin-icon pin-icon"></div>
</div>