<div class="bb-mode-icon-wrapper mode-icon-wrapper">
	<div class="bb-mode-icon mode-icon <%= modeIconClass %>"></div>
</div>
<div class="bb-mode-title mode-title">
	<div class="center-vertical-absolute"><%= modeName %></div>
</div>