<!--Dev_SCS-3282 start-->
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<div class="row">
				<h4 id="bb-content-label" class="col-xs-12 bb-modal-title margin-auto"  tabindex="-1"></h4>
			</div>
            <div class="row">
                <div class="bb-spinner spinner center-block"></div>
            </div>
			<div class="row">
				<div id="bb-center-btn-area" class="col-xs-12 margin-t-20"></div>
			</div>
		</div>
	</div>
</div>
<!--//Dev_SCS-3282 end-->