<div class="col-xs-12 section-text description text-center" data-i18n="setupWizard.provisioning.customize.oneTouchInfo"></div>
<div class="col-xs-12 section-text description text-center margin-b-30" data-i18n="setupWizard.provisioning.customize.oneTouchPreselected"></div>
<div class="bb-one-touch-container"></div>