<div class="row hidden-xs">
	<h1 class="h1 col-xs-12 font-semi-bold" data-i18n="equipment.myEquipment.title"></h1>
	<div class="col-xs-12 sub-header hidden" data-i18n="equipment.myEquipment.subHeader"></div>
</div>
<div class="row">
	<div id="bb-tab-view-region" class="col-xs-12"></div>
</div>