<div class="column-labels row margin-t-20 margin-b-20">
	<div class="time-holder col-xs-4 col-md-3">
		<div class="time-icon center-vertical-absolute"></div>
		<div class="bb-time-header text-left padding-l-30" data-i18n="schedules.schedule.columnLabels.startTime"></div>
	</div>
	<div class="schedule-value-holder padding-l-20 col-xs-6">
		<div class="schedule-value-container">
			<div class="bb-schedule-value-icon schedule-value-icon center-vertical-absolute"></div>
			<div class="bb-schedule-value-header padding-l-10 schedule-value-header"></div>
		</div>
	</div>
</div>