<button class="btn btn-default dropdown-toggle dropdown-button form-control preserve-case"
		id="<%= id %>"
		type="button"
		data-toggle="dropdown"
		aria-haspopup="true"
		aria-expanded="false">
	<span class="pull-left"><%= dropdownLabelKey %></span>
	<span class="salus-caret caret pull-right"></span>
</button>
<ul class="dropdown-menu bb-dropdown-item-container" aria-labelledby="<%= id %>"></ul>
